{
  "presets": ["babel-preset-solid"],
  "plugins": [
    [
      "module-resolver",
      {
        "root": ["."],
        "alias": {
          "@src": "./src",
          "@tests": "./tests"
        }
      }
    ]
  ]
}
